body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.main {
  width: 500px;
  background-color: #7e838f;
  margin: 10px auto;
}

.main .title {
  background-color: #2a5d79;
  padding: 20px 20px;
}
.main .title span {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.list {
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.list ul {
    width: 90%;
    display: flex;
    flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

}

.list input {
  width: 90%;
  flex-shrink: 0;
  height: 30px;
  margin: 20px 0;
  border-radius: 3px;
  border: 0;
  outline: none;
}

.list li {
    width: 100%;
  height: 80px;
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 3px;
}
